/*
----------------------------------------------------------
Author: Duane K. Anderson;
url: http://dkanderson.com;
Description: Personal Portfolio and Blog;
==========================================================
*/ 


@import url('normalize.css');
@import url('skeleton.css');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body{
    background: url(../img/crossword.png);
}

* { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

::-moz-selection {
    background: #e67500;
    color:#fff;
    text-shadow: none;
}

::selection {
    background: #e67500;
    color:#fff;
    text-shadow: none;
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

h1, h2, h3, h4, p{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  color:#969b9e;
}

/* ==========================================================================
Browse Happy prompt
========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Common Classes
========================================================================== */

.intro{
    padding: 20px 0 40px 0;
    text-align: center;
    width:100%;
}
.intro h1{
    color:#00ace6;
    font-size: 40px;
    font-family: 'Roboto slab';
    font-weight: 700;
}


/* =========================================================================
Portfolio Styles
==========================================================================*/

/* Navigation */

header.main{
    position:relative;
    z-index: 300;
    margin:0;
    padding: 0;
    width:100%;
    border-top:5px solid #fff;
}

.branding{
    width:100%;
    display: block;
}
.logo{
    margin-top:15px;
    width:60px;
    height:60px;
    margin-bottom: 15px;
}
nav.main{
    float:none;
    position: relative;
    display: none;
}
nav.main ul{
    list-style-type: none;
}
nav.main li{
    float:none;
}
nav.main li a{
    display: block;
    border-top:5px solid transparent;
    transition: all 0.5s ease;
}

#mob-trigger{
    display: block;
    position:absolute;
    top:30.5px;
    right:20px;
    z-index: 999;
}

#mob-trigger span{
    display: block;
    width:40px;
    height:3px;
    margin-bottom:10px;
    background-color: #fff;
}

#welcome{
    padding:3em 0;
    text-align: center;
}
#welcome h1{
    color:#fff;
    font-weight: 100;
    font-size: 46px;
    line-height: 60px;
    font-family: 'Roboto slab', 'sans-serif';
}
#welcome p{
    color:#eee;
    color: rgba(255, 255, 255, 0.5);
}


article.project a{
    display: block;
    width:100%;
    height:200px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    text-decoration: none;

}
article.project a img{
    max-width:100%;
    height:100%;

}
article.project a .description{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color: #00ace6;
    text-align: center;
    line-height: 80px;
    position:absolute;
    top:50%;
    margin-top:-40px;
    left:50%;
    margin-left: -40px;
}
article.project a .description h1{
    font-size: 46px;
    color:#fff;
    font-family: 'Roboto Slab', 'sans-serif';
    font-weight: 100;
}
article.project a.soleil{
    background-image: url(../img/soleil.jpg);
}
article.project a.fitfarm{
    background-image: url(../img/fitfarm.jpg);
}
article.project a.tossnroll{
    background-image: url(../img/tossnroll.jpg);
}
article.project a.creative{
    background-image: url(../img/creative.jpg);
}
article.project a h1{
    margin:0;
}
#bio{
    width: 100%;
}
img.full{
    max-width: 100%;
    height: auto;
}

/* ==========================================================================
Home Page Specific
========================================================================== */

.bg-bleed-wrap{
    background-color: #e67500;
    border-bottom:1px solid #fff;
}

#skills{
    margin-top: 100px;
    padding-bottom: 60px;
}
.skill{
    text-align: center;
}
.skill h2{
    color:#e67500;
    font-size: .9em;
    text-transform: uppercase;
}
.skill .icon-wrap{
    height:110px;
    line-height: 110px;
}
.skill p{
    font-size: .9em;
    line-height: 1.5;
    color:#969b9e;

}

/* =========================================================================
Blog
==========================================================================*/

.bg-bleed-wrap.blog-header{
    background: #222 url(../img/simple_dashed.png) 0 0 repeat;
}


/* ==========================================================================
Footer
========================================================================== */

#footer{
    width:100%;
    background: #222 url(../img/blackorchid.png) 0 0 repeat;

}
#footer h3{
    font-size: .9em;
    color:#ff8e19;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 60px;
    text-transform: uppercase;
}
#footer p{
    color:#6d7073;
    font-size: 0.8em;
    line-height: 1.5;
    margin-bottom: 40px;
}
#copy-wrap{
    background-color: #000;
    width:100%;
}
.copy{
    font-size: .7em;
    line-height: 3;
    color:#65696d;
}
.copy a{
    text-decoration: none;
    color:#ff8e19;
}
/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers: h5bp.com/u
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
* Hide only visually, but have it available for screen readers: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* ==========================================================================
Media Queries for Responsive Design.
========================================================================== */

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */

    

    header.main{
        
       
    }
    .branding{
        position:absolute;
        top:0;
        left:0;
        text-align: left;
    }

    nav.main{
        float:right;
        position: relative;
        display: block;
    }
    nav.main ul{
        list-style-type: none;
        margin:-5px 0 0 0;
        position:relative;
        z-index: 100;
    }
    nav.main li{
        float:left;
    }
    nav.main li a{
        float:none;
        padding:45px 20px 30px 20px;
        line-height: 1;
        color:#fff;
        text-decoration: none;
        height:100%;
        display: block;
        text-align: center;
        cursor: pointer;
    }
    nav.main li a:hover{
        border-color:#994e00;
        text-shadow:1px 1px 2px rgba(255, 255, 255, 0.5);
    }
    #mob-trigger{
        display: none;
    }

    body.home nav.main li.home a, body.bio nav.main li.bio a, body.work nav.main li.work a, body.blog nav.main li.blog a, body.contact nav.main li.contact a{
        border-color: #ff8e19;
        color:#fff;
        color: rgba(255, 255, 255, 0.5);
    }

    .logo{
        margin-top:15px;
        width:60px;
        height:60px;
    }
    
    .slider-text h1{
        padding:0;
        margin:0;
        font-weight: 400;
    }
    .slider-text h1 em{
        color:#994e00;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 1.5em;
        font-weight: 300;
    }
    .slider-text p{
        margin:0;
        padding:0;
    }
    .slider-text a{
        color:#994e00;
        text-decoration: none;
    }  


    #bio header{
        min-height:200px;
        width:100%;
        background: url(../img/mac_bg.jpg) 0 0 no-repeat;
        background-size: 100%;
    }

    #folio{
        width:100%;
        overflow: hidden;        
        background:#00ace6;
    }
    article.project{
        position: relative;
        width:33.333333333333%;
        float:left;
    }
    article.project a{
        display: block;
        width:100%;
        height:300px;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size:cover; 
    }
    article.project a img{
        max-width:100%;
        height:100%;

    }
    article.project a.soleil{
        background-image: url(../img/soleil.jpg);
    }
    article.project a.fitfarm{
        background-image: url(../img/fitfarm.jpg);
    }
    article.project a.tossnroll{
        background-image: url(../img/tossnroll.jpg);
    }
    article.project a.creative{
        background-image: url(../img/creative.jpg);
    }
    article.project a h1{
        margin:0;
    }
    
}




@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request: h5bp.com/r
========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
